@use "sass:color";
@use 'bulma/sass/utilities/css-variables' as cv;
@use 'bulma/sass/utilities/derived-variables' as dv;
@forward 'bulma/sass/utilities/derived-variables';
@forward "bulma/sass/utilities/initial-variables";

$shadow: cv.getVar('shadow');
$primary-dark: color.adjust(dv.$primary, $lightness: -10%);
$warning-light: color.adjust(dv.$warning, $lightness: 10%);
$warning-dark: color.adjust(dv.$warning, $lightness: -10%);
$link-light: color.adjust(dv.$link, $lightness: 8%);
$link-dark: color.adjust(dv.$link, $lightness: -10%);
$danger-light: color.adjust(dv.$danger, $lightness: 10%);

$split-color: cv.getVar("border-weak");
$input-border-color: hsl(var(--bulma-scheme-h), var(--bulma-scheme-s), calc(var(--bulma-border-l) + var(--bulma-input-border-l-delta, 0%)));
$placeholder-color: hsla(var(--bulma-text-h), var(--bulma-text-s), var(--bulma-text-strong-l), 0.3);

@mixin file-bg-color() {
	--bulma-file-h: var(--bulma-scheme-h);
	--bulma-file-s: var(--bulma-scheme-s);
	--bulma-file-background-l: var(--bulma-scheme-main-ter-l);
	--bulma-file-background-l-delta: 0%;
	background-color: hsl(var(--bulma-file-h), var(--bulma-file-s), calc(var(--bulma-file-background-l) + var(--bulma-file-background-l-delta)));
}

@mixin currentMenu {
	background-color: var(--link-active-bg-color);
	color: var(--link-active-color);
	font-weight: bold;

	.menu-title > .icon {
		color: var(--link-active-color);
	}

	.next-icon {
		color: var(--link-active-color);
	}
}

@mixin scrollbar($hidden: true) {
	--scrollbar-width: .5em;
	--scrollbar-height: .45em;

	@if $hidden {
		&:hover {
			&::-webkit-scrollbar {
				display: block;
			}
		}
	}

	&.has-scrollbar:hover {
		padding-inline-end: var(--vertical-padding);
		padding-block-end: var(--horizontal-padding);
	}

	&::-webkit-scrollbar {
		@if $hidden {
			display: none;
		}
		width: var(--scrollbar-width); /* 垂直滚动条宽度 */
		height: var(--scrollbar-height); /* 水平滚动条高度 */

		&-track {
			background: var(--bulma-border-weak);
			border-radius: var(--bulma-radius);
		}

		&-thumb {
			background: var(--bulma-border-hover);
			border-radius: var(--bulma-radius);

			&:hover {
				background: var(--bulma-border-active);
			}
		}

		&-corner {
			background: transparent;
		}

		&-button {
			display: none;
		}
	}
}